#app {
  /* background: rgb(98,76,171); */
  /* background: linear-gradient(90deg, rgba(98,76,171,1) 32%, rgba(128,95,238,1) 91%); */
  background-color: #eee;
}

#app div button.painel {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  margin-top: 10px;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
