@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Work+Sans&display=swap");

html,
body,
#root,
.container-fluid {
  font-family: "Noto Sans KR", sans-serif;
  min-height: 100vh;
  background-color: #eee;
}

html,
body,
#root,
.container-fluid {
  /* background: url('./assets//bg//2762084.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-color: #624CAB; */
  background-color: #eee;
}

